.parallax {
  /* The image used */
  background-image: url("./src/images/front-page-img.jpg");

  /* Set a specific height */
  height: 500px;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

.suggested-posts-container {
  margin: 1%;
  width: 100%;
}

.card-images {
  max-width: 300px;
  max-height: 175px;
  object-fit: cover;
}

.navbar {
  overflow: hidden;
}

body { 
  padding-top: 55px; 
}

.show-container {
  margin-left: 5%;
  margin-right: 5%;
}

.show-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.off-left {
  margin-left: 5%;
}

.post-show-images {
  max-height: 200px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.posts-container {
  /* The image used */
  background-image: url("./src/images/skatepark.jpg");

  /* Set a specific height */
  /* height: 500px;
  width: 100%; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.post-card-images {
  max-width: 100%;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.users-container {
  /* The image used */
  background-image: url("./src/images/skatetrick.jpg");

  /* Set a specific height */
  /* height: 500px;
  width: 100%; */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-picture {
  border-radius: 50%;
}

.show-user-picture {
  width: 375px; /* width of container */
  height: 300px; /* height of container */
  object-fit: cover;
}

.card {
  cursor: pointer;
}
