.parallax {
  /* The image used */
  background-image: url("./src/images/front-page-img.jpg");

  /* Set a specific height */
  height: 500px;
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-box-in-image {
  background-color: rgba(0, 0, 0, 0.158);
  width: 100px;
  height: 100px;
  position: absolute;
  padding: 5%;
  left: 50%;
}

.suggested-posts-container {
  margin: 1%;
  width: 100%;
}

.card-images {
  max-width: 300px;
  max-height: 175px;
}

.navbar {
  overflow: hidden;
}

body { 
  padding-top: 55px; 
}

.show-container {
  margin-left: 5%;
  margin-right: 5%;
}

.show-content {
  margin-top: 50px;
}

.off-left {
  margin-left: 5%;
}

.post-show-images {
  max-height: 200px;
}